<%- include ("./partials/header"); %>

<main>
  <div class="container home">
    <div class="row">
      <div class="col-sm-12">
        <h1>Complete Node.js Authentication with Passport.js</h1>
        <p class="text-center lead">
          Supporting strong validations, security, flash messaging and password
          hashing
        </p>
        <div class="text-center mt-5">
          <a type="button" class="btn btn-info" href="/users/register"
            >Registration</a
          >
          <a type="button" class="btn btn-success" href="/users/login"
            >Authentication</a
          >
        </div>
      </div>
    </div>
  </div>
</main>

<%- include ("./partials/footer"); %>
