<%- include ("./partials/header"); %>
<main class="wrapper">
  <h1 class="text-center py-2">Authenticate your account</h1>
  <div class="container">
    <div class="row mt-3">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <img
          src="/assets/images/undraw_my_app_grf2.svg"
          alt=""
          class="d-none d-sm-block"
        />
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          <strong>All fields are required</strong>
        </div>
        <form action="/register" method="POST" autocomplete="off">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" value="" />
          </div>
          <div class="form-group">
            <label for="password">Your password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              value=""
            />
          </div>
          <button class="btn btn-success mb-1 register">
            Login
          </button>
        </form>
        <div class="decider">
          <p class="lead">No account?</p>
          <p><a href="/users/register">Register</a></p>
        </div>
        <a href="/">Back Home</a>
      </div>
    </div>
  </div>
</main>
<%- include ("./partials/footer"); %>
