<%- include ("./partials/header"); %>
<main class="wrapper">
  <h1 class="text-center py-2">Register for a free account</h1>
  <div class="container">
    <div class="row mt-3">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <img
          src="/assets/images/undraw_my_app_grf2.svg"
          alt=""
          class="d-none d-sm-block"
        />
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          <strong>All fields are required</strong>
        </div>
        <form action="/users/register" method="POST" autocomplete="off">
          <div class="form-group">
            <label for="username">Your username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              value="<%= typeof username !== 'undefined' ? username : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              value="<%= typeof email !== 'undefined' ? email : '' %>"
            />
            <small id="email" class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            >
          </div>
          <div class="form-group">
            <label for="password">Your password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
            />
          </div>
          <div class="form-group">
            <label for="password2">Confirm password</label>
            <input
              type="password"
              class="form-control"
              id="password2"
              name="password2"
            />
          </div>
          <button class="btn btn-success mb-1 register">
            Create Account
          </button>
        </form>
        <div class="decider">
          <p class="lead">Already have an account?</p>
          <p><a href="/users/login">Sign In</a></p>
        </div>
        <a href="/">Back Home</a>
      </div>
    </div>
  </div>
</main>
<%- include ("./partials/footer"); %>
